
.arrow-down div {
    left: 50%;
    transform: translateY(0%) rotate(45deg);

    opacity: 0;
}

@keyframes scrolldown {
    0% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }

    50% {
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}



.arrow-down {
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
}



.snippetArrow {
    width: 2em;
    height: 2em;
    background-color: transparent;
    z-index: 80;
    left: 16px;
    position: absolute;
    border-width: 0 0.25em 0.25em 0;
    border-style: solid;
    border-color: rgb(113, 111, 111);
}

.snippetArrow-up {
    bottom: 18px;
    animation: scrolldown 1.2s ease-in-out infinite 0.15s;
}

.snippetArrow-down {
    bottom: 32px;
    animation: scrolldown 1.2s ease-in-out infinite;
}